@inherits LayoutComponentBase
<BlazoredToasts />
<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <LoginDisplay />
        <a href="https://github.com/ADefWebserver/Blazor-Blogs" target="_blank">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>