@inherits LayoutComponentBase
@using BlazorBlogs.Data;
@using BlazorBlogs.Data.Models;
@inject GeneralSettingsService _GeneralSettingsService

<BlazoredToasts />
<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <LoginDisplay />
        <a href="https://github.com/ADefWebserver/Blazor-Blogs" target="_blank">About</a>
        <a href="/api/RSSFeed/Rss" target="_blank"><RadzenIcon Icon="rss_feed" /></a>
    </div>
    <div class="header-centered">
        @((MarkupString)objGeneralSettings.ApplicationHeader)
    </div>
    <div class="content px-4">
        @Body
    </div>
</div>
@code {
    GeneralSettings objGeneralSettings = new GeneralSettings();

    protected override async Task OnInitializedAsync()
    {
        await LoadGeneralSettingsAsync();
    }

    protected async Task LoadGeneralSettingsAsync()
    {
        objGeneralSettings = await _GeneralSettingsService.GetGeneralSettingsAsync();
    }
}