@using System.IO;
@using System.Runtime.Loader;

<CascadingAuthenticationState>
    <Router AppAssembly="BlazorBlogsLibrary">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(BlazorBlogsLibrary.Shared.MainLayout)" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(BlazorBlogsLibrary.Shared.MainLayout)">
                <p>Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
@code {

    System.Reflection.Assembly BlazorBlogsLibrary;

    protected override void OnInitialized()
    {
        string path =
            Path.GetFullPath(@"CustomModules\BlazorBlogsLibrary.dll");

        BlazorBlogsLibrary =
            AssemblyLoadContext.Default.LoadFromAssemblyPath(path);
    }
}