@inherits LayoutComponentBase
<RadzenComponents @rendermode="InteractiveServer" />
<BlazoredToasts />

<div class="page">
    <div class="sidebar">
        <InstallWizardNavMenu />
    </div>

    <main class="content px-4">
        @Body
    </main>
</div>
@code {

}