@using BlazorBlogs.Data;
@using BlazorBlogs.Data.Models;
@inherits OwningComponentBase<GeneralSettingsService>
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
        @if (objGeneralSettings != null)
        {
            <img src="@objGeneralSettings.ApplicationLogo" />
        }
        </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
            <NavLink class="nav-link" href="filedownloads" Match="NavLinkMatch.All">
                <span class="oi oi-cloud-download" aria-hidden="true"></span> Downloads
            </NavLink>
        </div>
        <AuthorizeView>
            <Authorized>
                @if (@context.User.IsInRole(ADMINISTRATION_ROLE))
                {
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="administration">
                            <span class="oi oi-person" aria-hidden="true"></span> User Administration
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="categories">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Category Administration
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="filemanager">
                            <span class="oi oi-folder" aria-hidden="true"></span> File Manager
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="importblogs">
                            <span class="oi oi-cloud-upload" aria-hidden="true"></span> Import Blogs
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="logs">
                            <span class="oi oi-book" aria-hidden="true"></span> Logs
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="settings">
                            <span class="oi oi-cog" aria-hidden="true"></span> Settings
                        </NavLink>
                    </div>
                }
                <ldivi class="nav-item px-3">
                    <form method="post" action="Identity/Account/LogOut">
                        <button type="submit" class="btn btn-link">
                            <span style="color:white"> [Logout]</span>
                        </button>
                    </form>
                </ldivi>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Identity/Account/Login">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> [Login]
                    </NavLink>
                </div>
                @if (AllowRegistration)
                {
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="Identity/Account/Register">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> [Register]
                        </NavLink>
                    </div>
                }
            </NotAuthorized>
        </AuthorizeView>
    </ul>
</div>

@code {
    GeneralSettings objGeneralSettings;
    string ADMINISTRATION_ROLE = "Administrators";
    bool collapseNavMenu = true;
    bool AllowRegistration = false;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    protected override async Task OnInitializedAsync()
    {
        objGeneralSettings = await @Service.GetGeneralSettingsAsync();
        AllowRegistration = objGeneralSettings.AllowRegistration;
    }

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}