@layout InstallWizardLayout
@page "/installwizard/{WizardMode}"
@inject InstallUpdateState InstallUpdateState

<h3>@WizardMode Wizard</h3>
<br />
<InstallWizardDatabaseConfiguration />
@code {
    [Parameter] public string WizardMode { get; set; }
    //protected override async Task OnInitializedAsync()
    //{

    //}
}
