@layout InstallWizardLayout
@page "/installwizard/{WizardMode}"
@inject InstallUpdateState InstallUpdateState

<h3>Install Wizard</h3>
<p>Install Mode: @WizardMode</p>
<br />
<InstallWizardDatabaseConfiguration />
@code {
    [Parameter] public string WizardMode { get; set; }
    //protected override async Task OnInitializedAsync()
    //{

    //}
}
