@layout InstallWizardLayout
@page "/installwizard/{WizardMode}"
@using System.Security.Claims;
@inject InstallUpdateState InstallUpdateState

<h3>@WizardMode Wizard</h3>
<br />
@if (WizardStage == "DatabaseConfiguration")
{
    <InstallWizardDatabaseConfiguration />
}
@if (WizardStage == "VerifyAdministrator")
{
    <InstallWizardLoginAdministrator />
}
@code {
    [Parameter] public string WizardMode { get; set; }

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    ClaimsPrincipal CurrentUser = new ClaimsPrincipal();

    public string WizardStage = "";
    protected override async Task OnInitializedAsync()
    {
        // Get current user
        CurrentUser = (await authenticationStateTask).User;

        if (WizardMode == "INSTALL")
        {
            WizardStage = "DatabaseConfiguration";
        }

        if (WizardMode == "UPGRADE")
        {
            WizardStage = "VerifyAdministrator";
        }
    }
}
